.assignsubmission-customform-settings-details {
    padding: 2rem 1rem 0 1rem;
    position: relative;
    margin: 2rem 1rem 1rem 1rem;
}

.assignsubmission-customform-settings-details:has([hidden]) {
    display: none;
}

.assignsubmission-customform-settings-legend {
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    background-color: white;
    top: -0.75em;
    display: inline-block;
    width: unset;
    padding: 0 0.5em;
}